@tailwind base;
@tailwind components;
@tailwind utilities;


/* .client-logo-container .slide img {
    width: 400px !important;
    height: 108px !important;
    max-height: 108px !important;
} */
.marketing-boxes img {
    max-width: 60px;
    object-fit: contain;
    width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}


.hover-container {
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hover-img,
.hover-title {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hover-description {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-container p {
    text-align: center;
}

.hover-container:hover .hover-img {
    transform: translateY(-10px);
    opacity: 0.9;
}

.hover-container:hover .hover-title {
    transform: translateY(-10px);
    opacity: 0.9;
}

.hover-container:hover .hover-description {
    opacity: 1;
    transform: translateY(0);
}

/* arrow animations */

.graph__wrapper {
    position: absolute;
    left: 0;
    top: -10px !important;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.dashed {
    stroke-dasharray: 5, 12;

}

#arrow {
    animation: arrow 2s linear forwards;
    opacity: 0;
}

@keyframes arrow {
    to {
        opacity: 1;
    }
}

.ifrm {
    border: none;
    width: 100%;
    margin-top: 50px;
}

.arrow-one {
    width: 600px !important;
    height: 300px;
}

.arrow-two {
    width: 300px;
    height: 300px;
    left: 20px;
    bottom: 30px;
}

.arrow-three {
    width: 600px;
    height: 600px;

}

.arrow-four {
    width: 200px;
    height: 300px;

}

.arrow-five {
    width: 300px;
    height: 300px;
}

.description-title {
    padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
    .logo-slide {
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .description-title {
        padding-bottom: 10px;
    }

    .arrow-one {
        position: absolute;
        right: 0px;
        bottom: -20px;
        width: 200px !important;
        height: 100px;
    }

    .arrow-two {
        width: 100px;
        height: 300px;
        bottom: 120px;

    }

    .arrow-three {
        width: 300px;
        height: 100px;
        bottom: -40px;
    }

    .arrow-four {
        width: 100px;
        height: 300px;
        bottom: -140px;

    }

    .arrow-five {
        width: 150px;
        height: 300px;
        bottom: -140px;
    }
}