@tailwind base;
@tailwind components;
@tailwind utilities;


/* .client-logo-container .slide img {
    width: 400px !important;
    height: 108px !important;
    max-height: 108px !important;
} */
.marketing-boxes img {
    height: 50px !important;
    width: 50px !important;
}


.hover-container {
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hover-img,
.hover-title {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hover-description {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-container p {
    text-align: center;
}

.hover-container:hover .hover-img {
    transform: translateY(-10px);
    opacity: 0.9;
}

.hover-container:hover .hover-title {
    transform: translateY(-10px);
    opacity: 0.9;
}

.hover-container:hover .hover-description {
    opacity: 1;
    transform: translateY(0);
}

/* arrow animations */

.graph__wrapper {
    position: absolute;
    left: 0;
    top: -10px !important;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.dashed {
    stroke-dasharray: 5, 12;

}

#arrow {
    animation: arrow 2s linear forwards;
    opacity: 0;
}

@keyframes arrow {
    to {
        opacity: 1;
    }
}

.ifrm {
    border: none;
    width: 100%;
    margin-top: 50px;
}