* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    overflow: hidden;
}

body {
    font-family: "Outfit", sans-serif !important;
}


.home-banner {
    align-items: center;
    background: black;
    display: flex;
    min-height: 75vh;
    justify-content: center;
    margin-bottom: 17.8890876565vw;
    position: relative;
    transition: all 1s ease;
    width: 100%;
}


.home-banner h1 {
    font-size: 18px;
    letter-spacing: -.6px;
    line-height: 40px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    color: white;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease;
    width: 200px;
    z-index: 2
}


.home-banner__umbrella {
    animation: bounce 2s infinite;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 1
}

.home-banner__umbrella svg {
    display: block;
    margin: 0
}

.home-banner__umbrella--mobile {
    display: block
}

.home-banner__umbrella--desktop {
    display: none
}

main.hide .home-banner h1 {
    opacity: 0
}

main.finished .home-banner {
    height: 460px
}


.contact-banner #contact-two svg {
    transform: scale(2) !important
}

.contact-banner {
    align-items: center;
    background: black;
    display: flex;
    height: 590px;
    justify-content: center;
    position: relative;
    width: 100vw
}

.contact-banner h1 {
    font-size: 20px;
    letter-spacing: -.4px;
    line-height: 28px;
    text-align: center;
    width: 310px
}



.contact-banner__umbrella {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1
}

.contact-banner__umbrella--mobile {
    display: block
}


.contact-banner__umbrella--desktop {
    display: none
}


.contact-banner__umbrella svg {
    display: block;
    transform: rotate(180deg)
}

.contact-banner__umbrella svg path {
    fill: #f8f7ec
}

.contact-banner #contact-one {
    pointer-events: none;
    position: absolute;
    transform: translate(-180px, -50px)
}


.contact-banner #contact-one svg {
    height: 600px !important;
    transform: scale(2) !important;
    width: 600px !important
}

.contact-banner #contact-two {
    pointer-events: none;
    position: absolute;
    transform: translate(130px, 220px);
    z-index: 4
}

@media (max-width: 767px) {
    .home-banner {
        height: 460px;
        min-height: 460px;
    }

}

@media(min-width:900px) {
    .home-banner__umbrella--mobile {
        display: none
    }
}

@media(min-width:900px) {
    main.finished .home-banner {
        height: 100vh
    }
}

@media(min-width:900px) {
    .contact-banner #contact-one svg {
        transform: scale(3.6) !important
    }
}

@media(min-width:900px) {
    .contact-banner #contact-one {
        transform: translate(-550px, -110px)
    }
}

@media(min-width:900px) {
    .contact-banner h1 {
        font-size: 28px;
        letter-spacing: -1px;
        line-height: 48px;
        margin-top: -11.1111111111vw;
        width: 940px
    }

    .contact-banner #contact-two {
        transform: translate(600px, 100px)
    }
}

@media(min-width:900px) {
    .home-banner h1 {
        font-size: 48px;
        letter-spacing: -1px;
        line-height: 60px;
        width: 940px
    }
}

@media(min-width:900px) {
    .contact-banner #contact-two svg {
        transform: scale(3.8) !important
    }
}

@media(min-width:900px) {
    main.hide .home-banner {
        margin-bottom: 0
    }
}

@media(min-width:900px) {
    .contact-banner {
        height: 100vh;
        min-height: 900px
    }
}

@media(min-width:900px) {
    .contact-banner__umbrella--desktop {
        display: block
    }
}

@media(min-width:900px) {
    .home-banner__umbrella--desktop {
        display: block
    }
}

@media(min-width:900px) {
    .contact-banner__umbrella--mobile {
        display: none
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}