* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    overflow: hidden;
}

body {
    font-family: "Outfit", sans-serif !important;
}


.home-banner {
    align-items: center;
    background: black;
    display: flex;
    min-height: 75vh;
    justify-content: center;
    margin-bottom: 17.8890876565vw;
    position: relative;
    transition: all 1s ease;
    width: 100%;
}


.home-banner h1 {
    font-size: 19px;
    letter-spacing: -.6px;
    line-height: 30px;
    margin: 60px 20px;
    opacity: 1;
    position: relative;
    color: white;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 2;
    max-width: 100%;
}

.home-banner__umbrella {
    animation: bounce 2s infinite;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 1
}

.home-banner__umbrella svg {
    display: block;
    margin: 0
}

.home-banner__umbrella--mobile {
    display: block
}

.home-banner__umbrella--desktop {
    display: none
}

main.hide .home-banner h1 {
    opacity: 0
}

main.finished .home-banner {
    height: 460px
}


.contact-banner #contact-two svg {
    transform: scale(2) !important
}



.contact-banner__umbrella {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1
}

.contact-banner__umbrella--mobile {
    display: block
}


.contact-banner__umbrella--desktop {
    display: none
}


.contact-banner__umbrella svg {
    display: block;
    transform: rotate(180deg)
}

.contact-banner__umbrella svg path {
    fill: #f8f7ec
}

.contact-banner #contact-one {
    pointer-events: none;
    position: absolute;
    transform: translate(-180px, -50px)
}


.contact-banner #contact-one svg {
    height: 600px !important;
    transform: scale(2) !important;
    width: 600px !important
}

.contact-banner #contact-two {
    pointer-events: none;
    position: absolute;
    transform: translate(130px, 220px);
    z-index: 4
}

@media (max-width: 767px) {
    .home-banner {
        height: 460px;
        min-height: 460px;
    }

}

@media(min-width:900px) {
    .home-banner__umbrella--mobile {
        display: none
    }
}


@media(min-width:900px) {
    .home-banner h1 {
        font-size: 38px;
        letter-spacing: -1px;
        line-height: normal;
        max-width: 700px;
        width: 100%;
        max-width: 800px;
        margin-top: 130px;
    }
}

@media(min-width:900px) {
    main.hide .home-banner {
        margin-bottom: 0
    }
}




@media(min-width:900px) {
    .home-banner__umbrella--desktop {
        display: block
    }
}

@media(min-width:900px) {
    .contact-banner__umbrella--mobile {
        display: none
    }
}


/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

.main-footer {
    border-radius: 100% 100% 0 0;
    background-color: black;
    position: relative;
    overflow: hidden;
    z-index: 0;
}